.video__iframes {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 1050px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}