@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    margin: auto;
    align-items: flex-start;
    background-color: #f2f2f2;
    overflow: hidden;
}

.header__title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    align-self: center;
    position: absolute;
    left: 64px;
    margin-top: 0px;
    margin-right: auto;
}

.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    height: 608px;
    width: 765px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.header__square-pic {
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0px;
}